.dark1{
    color: #000000;
}
.dark2{
    color: #252432 ;
}
.dark3{
    color: #8987A1;
}
.orange{
    color: #E95A08;
}
.header{
    max-width: 1140px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
.head a{
    text-decoration: none;
}
.head li{
    list-style: none;
    padding: 0 22px;
}

.h1{
    font-weight: bold;
    font-size: 65px;
    line-height: 1;
    margin: 0;
}
.Header{
    text-align: left;
    width: 1140px;
}

/* main */
.main{
    max-width: 1140px;
    margin:30px auto;
}
.h2{
    font-weight: bold;
    font-size: 45px;
}
.flower-vase{
    text-align: center;
}
.square-collage{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 7px;
}
.usd{
    font-weight: 900;
    font-size: 22px;
}
.button{
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 26px;
}
.store{
    display: flex;
}
.store img{
    padding:140px 0px 80px 20px;
    
}
.badge{
    width: 280px;
    height: 280px;
    margin-left: -200px;
    margin-top: -130px;
}
/* latest-deals */

.img-bloom {
  display: flex;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.side-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card1, .card2, .card3 {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  padding: 20px;
  
}
.card1 {  
    height: 140px; 
    width: 320px; 
}
.card2 { 
    height: 140px; 
    width: 320px; 
}
.card3 { 
    height: 335px; 
    width: 530px;
 }









@media screen and (max-width: 576px) {
  
   .header, .Header, .main, .head nav ul ,.img-bloom{

    flex-direction: column;
    align-items: flex-start;
  }

  .header img {
    max-width: 150px;
  }

  .head nav ul {
    gap: 10px;
  }
  .hide{
    display: none;
  }

  .Header {
    gap: 20px;
  }

  .Header > div {
    width: 100%;
  }

  .Header img ,.store img{
    max-width: 100%;
  }
  
  .square-collage {
    grid-template-columns: repeat(2, 1fr);
  }

  .store {
    flex-direction: column;
    align-items: center;
  }

  .badge {
    display: none;
  }
}
