.dark1{
    color: #000000;
}
.dark2{
    color: #252432 ;
}
.dark3{
    color: #8987A1;
}
.orange{
    color: #E95A08;
}
.red{
    max-width: 1140px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    max-width: 1140px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.logo{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
.head a{
    text-decoration: none;
}
.head li{
    list-style: none;
    padding: 0 22px;
}

.h1{
    font-weight: bold;
    font-size: 65px;
    line-height: 1;
    margin: 0;
}
.Header{
    max-width: 1140px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    text-align: left;
    width: 1140px;
}

/* main */

.h2{
    font-weight: bold;
    font-size: 45px;
}
.flower-vase{
    max-width: 1140px;
    margin:30px auto;
    text-align: center;
}
.square-collage{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 7px;
}
.flower-card{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.flower-card img{
    width: 100%;
    height: auto;
}
.usd{
    font-weight: 900;
    font-size: 22px;
}
.button{
    color: #FFFFFF;
    background-color: #E95A08;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 26px;
}
.flower-store{
    max-width: 1140px;
    margin:30px auto;
}
.store{
    display: flex;
    
}

.store img{
    padding:140px 0px 80px 0px;
}
.badge{
    width: 280px;
    height: 280px;
    margin-left: -200px;
    margin-top: -130px;
}
/* latest-deals */

.latest-deals{
    max-width: 1140px;
    margin:30px auto;
}
.img-bloom {
  display: flex;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.side-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card1, .card2, .card3 {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  padding: 20px;
  
}
.shop{
    text-decoration: underline;
}
.card1 {  
    height: 140px; 
    width: 320px; 
}
.card2 { 
    height: 140px; 
    width: 320px; 
}
.card3 { 
    height: 335px; 
    width: 530px;
 }
 /* join-bunch */


 .coco{
    background-image: url(../images/news-letter-bg.png);
    max-width: 1440px;
    height: 533px;
    margin: 30px auto;
    margin-top: 120px;
    text-align: center;
    justify-content: center;

 }
 .join-bunch{
    color: whitesmoke;
    font-weight: 700;
    font-size: 50px;
    padding-top: 200px;
 }
 .mailbox{
    border: none;
    display: flex;
    justify-content: center;
 }
/* footer */
.footer{
    max-width: 1140px;
    padding: 20px 60px;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer li{
    list-style: none;
}






/* responsive part */
@media screen and (max-width: 576px) {
  
 .Header, 
 .main, 
 .head nav ul ,
 .img-bloom ,
 .footer{

    flex-direction: column;
    align-items: flex-start;
  }
 
  .header img {
    max-width: 120px;
    
  }
  .logo{
    padding: 20px;
  }
  
  .img-bloom{
    padding: 0 40px 20px 0;
  }
  .head nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
  
  .hide{
    display: none;
  }

  .Header {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 0px;
  }
  .Header p {
    font-size: 16px;
    line-height: 1.4;
  }
 
   .Header, 
   .Header > div ,
   .mailbox ,
   .button,  
   .mailbox input ,
   .footer > div {
    width: 100%;
  }

  .Header img ,.store img
  {
    max-width: 100%;
    height: auto;
  }
  
 
  .square-collage {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 15px;
  }
     
  .square-collage div{
    text-align: center;
  }
  .flower-card{
    font-size: 1rem;
    margin: 0 auto;
  }

  .side-images  {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
  }
  .store {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .flower-store{
    flex-direction: column;
    margin: 0px;
  }
  .badge {
    display: none;
  }
  .card1,
  .card2,
  .card3 {
    width: 100%;
    margin: 0 auto;
  }

  .card3 {
    height: 200px;
  }
  .coco {
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 40px 20px;
  }

  .join-bunch {
    font-size: 30px;
    padding-top: 0;
    margin-bottom: 20px;
  }
  .footer {
    gap: 20px;
    padding: 20px;
  }


  .footer ul {
    padding-left: 0;
  }
  .footer img {
    max-width: 100px;
  }
}